
body {
    background-color: rgb(24, 28, 31);
}

* {
    transition: ease-in-out !important;
    transition-duration: 0.2s !important;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(24, 28, 31);
    position: fixed;
    block-size: 100%;
    inline-size: 100%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 80%;
    /* block-size: 70%; */ 
}

.fullicon {
    width: 60%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    inline-size: 100%;
    block-size: 30%;
}

.links a {
    font-family: 'Manrope', sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    color: white;
    text-decoration: none;
}

.links a:hover {
    color: rgb(173, 86, 255);
}

.links-config {
    background-color: #5b5b5b73;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 12px;
    margin-right: 1rem;
    margin-left: 1rem;
}

.spacer {
    margin-right: 1rem;
    margin-left: 1rem;
    color: whitesmoke;
}

.footer-font {
    font-family: 'Manrope', sans-serif;
    color: rgb(226, 212, 212);
    font-size: 14px;
}

.footer-config {
    display: flex;
    align-items: center;
    background-color: #464646;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 12px;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media (max-width:450px){
    .fullicon {
      width: 100%;
    }
  }
